.centered-content{
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

td{
    padding-top: 10px;
}

.data-input{
    background: #F0F0F0;
    border-radius: 20px;
    padding: 10px 10px;
    width: 590px;
    height: 40px;
    display: flex;
}

.data-input input{
    background: #F0F0F0;
    border: 0px;
    font-size: 15;
}

select{
    background: none;
    border: none;
    font-size: 15;
}

.submit-button{
    margin-top: 20px;
    text-align: right;
}

.submit-button input{
    background: #99CCCC;
    border: none;
    border-radius: 15px;
    font-size: 15;
    padding: 10 20;
}

textarea:focus, input:focus{
    outline: none;
}