@using OnlineShop.Product.Domain.Models
@model IEnumerable<CategoryModel>


<div id="category-menu" class="modal">
    <div id="main-categories">
        @foreach (var category in Model)
        {
            <button class="btn btn-secondary main-category" data-category-id="@category.Id">
                <div>@category.Name</div>
            </button>
        }
    </div>

    <div>
        @foreach (var category in Model)
        {
            @if (category.SubCategories.Any())
            {
                <div class="sub-categories" data-parent-category-id="@category.Id">
                    @foreach (var subCategory in category.SubCategories)
                    {
                        <button class="btn btn-primary sub-category">
                            <div>@subCategory.Name</div>
                        </button>
                    }
                </div>
            }
        }
    </div>
</div>